---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="LG Appliance Repair in Orange County | +1 (323) 990-7550">
    <div class="maintext">
        <h2>LG Appliance Repair in Orange County</h2>
        <a style="color:#ffffff;" href="/areas/lg-appliance-repair-orange-county" title="LG Appliance Repair in Orange County">LG appliance repair in Orange County</a>
 </div> </footer>
  </main>
</Layout>
